.temp {
    /*background-color:rgb(109, 143, 253);*/
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 5px;
}

.container {
    width: 100%;
}

.cardholder {
    padding-top: 5%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}